<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Appium Android Automation Framework" parallel="methods" thread-count="1">

    <listeners>
        <listener class-name="general.MobileDriverManager">
            <!-- Mobile timeout and halt setup -->
            <parameter name="tmStatic" value="3"/>
            <parameter name="tmDynamic" value="60"/>

            <!--  Mobile Main Config Parameters  -->
            <parameter name="platformName" value="Android"/>
            <parameter name="platformVersion" value="13"/>
            <parameter name="deviceName" value="emulator-5554"/>
            <parameter name="automationName" value="UiAutomator2"/>
            <parameter name="appPackage" value="com.google.android.apps.maps"/>   <!-- com.google.android.apps.maps   com.avantica.qapp -->
            <parameter name="appActivity" value="com.google.android.maps.MapsActivity"/> <!-- com.google.android.maps.MapsActivity   com.avantica.qapp.activities.GreetingActivity -->
            <parameter name="noReset" value="true"/> <!-- True to prevent prompt for asking permissions again -->
            <parameter name="appiumServer" value="http://127.0.0.1:4723/wd/hub"/>
        </listener>
    </listeners>


    <!--  Test Case testing Parameters  -->
    <parameter name="getStartX" value="720" /> <!--   810      720 -->
    <parameter name="getStartY" value="2500" /> <!--  1700     2500 -->
    <parameter name="getEndX" value="720" />  <!--    330      720 -->
    <parameter name="getEndY" value="506" /> <!--    1200     506 -->



    <!--  Test Case Execution Order  -->
    <test name="Android Apps Test Cases">
        <classes>
            <class name="tests.MapsMainScreenTests">
                <!-- -->
                <methods>
                    <exclude name="verifyMapsMainScreen"/>
                    <include name="verifySearchMapsWithLatAndLong"/>
                    <exclude name="verifyDoubleTapOnMap"/>
                    <exclude name="verifyDoubleTapOnMapScreen" />
                    <exclude name="verifySwipeOnScreenWithCoordinatesXxYy" />
                    <exclude name="verifyScrollToAnElementOnScreen" />
                    <exclude name="verifyZoomInAndZoomOutOnMapsScreen" />
                </methods>
            </class>
        </classes>
    </test>

</suite>